:root {
	--border-px: 0px;
	--global-color: #337AB7;
}
.main_wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 720px;
  height: auto;
  font-family: Arial, sans-serif;
  border: var(--border-px) solid black;
  text-align: center;
}
h2 {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  line-height: 1.1;
}
.range {
  width: 40px;
  font-size: 30px;
  text-align: center;
  margin-right: 20px;
}
.logo {
  width: 50%;
  /* opacity: 0.05; */
}
#random_number {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-px) solid green;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#win_number {
  /* margin-bottom: 10px; */
  font-size: 100px;
  font-weight: bold;
  color: red;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}
.credentials {
  font-size: 12px;
}
button {
    -webkit-tap-highlight-color: transparent;
    width: auto;
    height: 40px;
    margin-bottom: 8px;
    padding: 6px 10px 6px 10px;
    /* font-family: Arial, sans-serif; */
    font-size: 22px;
    line-height: 1.3;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid var(--global-color);
    background-color: var(--global-color);
    cursor: pointer;
    transition: width .5s;
    display: block;
    position: relative;
    /* top: 50%;  */
    left: 50%;
    margin-left: -50px;
    margin-top: 10px;
}
.animate_width {
    width: 140px;
}